---
import { Trans } from 'astro-i18next/components';
import { changeLanguage, t } from 'i18next';
import Article from '../components/Article.astro';
import Articles from '../components/Articles.astro';
import Paragraph from '../components/Paragraph.astro';
import Rule from '../components/Rule.astro';
import RuleSet from '../components/RuleSet.astro';
import Layout from '../layouts/Layout.astro';

changeLanguage('en');
---

<Layout title="FullstacksJS - Rules">
  <Articles>
    <Article>
      <h1>{t('rules.title')}</h1>
      <Paragraph>
        <Trans i18nKey="rules.desc">
          The following behaviors are considered <b>harassment</b> and are <b
            >unacceptable</b
          > within our community:
        </Trans>
      </Paragraph>

      <RuleSet>
        <Rule target="violence">
          {t('rules.items.violence')}
        </Rule>
        <Rule target="name-calling">
          <Trans i18nKey="rules.items.nameCalling">
            <b>Name-calling</b> or calling someone or a group of people with offensive
            names.
          </Trans>
        </Rule>
        <Rule target="nsfw">
          <Trans i18nKey="rules.items.nsfw">
            Posting <b>NSFW</b> content.
          </Trans>
        </Rule>
        <Rule target="personal">
          {t('rules.items.personal')}
        </Rule>
        <Rule target="insult">
          <Trans i18nKey="rules.items.insult">
            Insults/Hate speech based on <b>gender</b>, <b>race</b>, <b
              >religion</b
            >, and <b>disability</b>.
          </Trans>
        </Rule>
        <Rule target="sex">{t('rules.items.sex')}</Rule>
        <Rule target="copyright">
          <Trans i18nKey="rules.items.copyright">
            Posting/Request for content subject to <b>copyright.</b>
          </Trans>
        </Rule>
        <Rule target="spam">
          <Trans i18nKey="rules.spam"><b>Spam</b>/<b>Flooding.</b></Trans>
        </Rule>
        <Rule target="dm">
          <Trans i18nKey="rules.items.dm">
            Do not <b>direct message</b> someone unless they've granted permission.
          </Trans>
        </Rule>
        <Rule target="advocate">
          {t('rules.items.advocate')}
        </Rule>
      </RuleSet>
    </Article>

    <Article>
      <h1>{t('guidelines.title')}</h1>
      <RuleSet>
        <Rule target="kind">
          {t('guidelines.items.kind')}
        </Rule>
        <Rule target="topic">{t('guidelines.items.topic')}</Rule>
        <Rule target="cross">
          {t('guidelines.items.cross')}
        </Rule>
        <Rule target="opinion">
          {t('guidelines.items.opinion')}
        </Rule>
      </RuleSet>
    </Article>
  </Articles>
</Layout>

<style>
  p {
    color: var(--fg-0);
  }
</style>
