@import 'tailwindcss';

:root {
  scroll-behavior: smooth;
  font-size: clamp(0.625rem, 0.4rem + 0.2vw, 1.1rem);
}

@theme {
  --text-*: initial;
  --text-xs: 1.4rem;
  --text-xsm: 1.6rem;
  --text-sm: 1.8rem;
  --text-base: 2rem;
  --text-md: 2.4rem;
  --text-xl: 2.8rem;
  --text-2xl: 3.2rem;
  --text-3xl: 3.6rem;
  --text-4xl: 3.8rem;
  --text-5xl: 5.4rem;
  --text-6xl: 10rem;

  --color-advent-0: rgb(43 38 38);
  --color-advent-1: rgb(38 34 34);
  --color-advent-2: rgb(104 90 90);

  --color-accent-0: rgb(243 159 71);
  --color-accent-1: rgb(209 154 103);

  --color-light-0: #e6e6e6;
  --color-light-1: #b3b3b3;

  --color-light-muted: rgb(255 255 255 / 0.2);
  --color-light-inactive: rgb(255 255 255 / 0.3);

  --color-bg-darker: #1e2129;
  --color-bg-0: rgb(35 37 46);
  --color-bg-1: rgb(49 55 68);
  --color-bg-muted: rgb(255 255 255 / 10%);

  --color-fg-0: rgb(230 230 230);
  --color-fg-1: rgb(179 179 179);

  --color-fg-muted: rgb(255 255 255 / 0.2);
  --color-fg-error: rgb(255 117 117);
  --color-fg-success: rgb(134 239 172);
  --color-dark-0: var(--color-bg-0);

  --font-*: initial;
  --font-fa: var(--font-vazir), var(--font-rajdhani);
  --font-sans: var(--font-rajdhani), var(--font-vazir);
  --font-rajdhani: var(--font-rajdhani);

  --breakpoint-*: initial;
  --breakpoint-mobile: 560px;
  --breakpoint-tablet: 760px;
  --breakpoint-desktop: 960px;
  --breakpoint-wide: 1370px;

  --radius-md: 0.4rem;
  --radius-lg: 0.8rem;
  --radius-xl: 1.2rem;

  --leading-*: initial;
  --leading-none: 1;
  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.4;
  --leading-relaxed: 1.6;
  --leading-loose: 2.4;

  --text-paragraph: 2rem;
  --text-paragraph--line-height: 1.4;
  --text-paragraph--font-weight: 400;
}

:root[lang='fa'] {
  font-size: clamp(0.525rem, 0.3rem + 0.2vw, 1rem);
}

* {
  scrollbar-color: var(--color-fg-muted) transparent;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 2px;
  height: 4px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-fg-muted);
}

::selection {
  background: var(--color-accent-0);
  color: var(--color-bg-0);
}

.container {
  max-width: 100%;
  padding-inline: 3rem;
}

@media (min-width: 960px) {
  .container {
    max-width: 900px;
    padding-inline: unset;
    margin-inline: auto;
  }
}

@media (min-width: 1370px) {
  .container {
    max-width: 1180px;
  }
}

@utility bidi-plain {
  unicode-bidi: plaintext;
}

@custom-variant pointer-coarse (@media (pointer: coarse));

.rank-1 {
  border: 1px solid #0000;
  background:
    linear-gradient(0deg, #4a4021, #1e2129) padding-box,
    linear-gradient(#62646a, #fbb131) border-box;
  position: relative;
  box-shadow: 0 0 30px 0 rgba(255, 187, 0, 0.2);
}

.rank-2 {
  border: 1px solid #0000;
  background:
    linear-gradient(0deg, #373c42, #1e2129) padding-box,
    linear-gradient(#4b4d54, #98a1a4) border-box;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(158, 161, 161, 0.2);
}

.rank-3 {
  border: 1px solid #0000;
  background:
    linear-gradient(0deg, #3d2b29, #1e2129) padding-box,
    linear-gradient(#62646a, #be4a18) border-box;
  position: relative;
  box-shadow: 0 0 20px 0 rgba(190, 74, 24, 0.2);
}

.rank-silver {
  text-shadow: -1px 2px 2px 0 rgba(0, 0, 0, 0.25);
  color: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.5) 100%);
  font-size: 48px;
}

.user-bg {
  background: linear-gradient(90deg, #2a3143 0, rgb(66 98 67/ 10%) 90%);
}

.retro-bg {
  background-color: #231d31;
}

.mask-radial {
  mask: radial-gradient(white, transparent 65%);
}

.aoc-bg {
  background-color: var(--color-advent-0);
}

.close-icon {
  --icon: url("data:image/svg+xml;utf8,%3Csvg viewBox='0 0 24 24' width='1.2em' height='1.2em' xmlns='http://www.w3.org/2000/svg' %3E%3Cpath fill='currentColor' d='m12 13.4l-2.9 2.9q-.275.275-.7.275t-.7-.275t-.275-.7t.275-.7l2.9-2.9l-2.9-2.875q-.275-.275-.275-.7t.275-.7t.7-.275t.7.275l2.9 2.9l2.875-2.9q.275-.275.7-.275t.7.275q.3.3.3.713t-.3.687L13.375 12l2.9 2.9q.275.275.275.7t-.275.7q-.3.3-.712.3t-.688-.3z'/%3E%3C/svg%3E");
  -webkit-mask: var(--icon) no-repeat;
  mask: var(--icon) no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  background-color: currentColor;
  color: inherit;
}
