---
import { FullstacksJSEvent } from '../data-layer/domain';
import { EventCard } from './EventCard';
import SectionHeader from './SectionHeader.astro';

interface Props {
  events: FullstacksJSEvent[];
  title: string;
}

const { events, title } = Astro.props;
---

<div>
  <SectionHeader>{title}</SectionHeader>
  <div class="mt-16 grid gap-16 tablet:grid-cols-2 desktop:grid-cols-3">
    {events.map((event) => <EventCard client:idle event={event} />)}
  </div>
</div>
