---
import i18next, { t } from 'i18next';

import Button from './Button.astro';
import Hero from './Hero.astro';
import Locales from './Locales.astro';
import LoginButton from './LoginButton';
import Logo from './Logo.astro';
import Navs from './Navs.astro';
import Separator from './Separator.astro';
---

<div class="flex items-center justify-between p-4 tablet:p-8" dir="ltr">
  <Locales />
  <LoginButton client:only language={i18next.language} />
</div>

<header
  class="mb-[6rem] flex flex-col items-center gap-[6rem] tablet:mb-[10rem]"
>
  <div class="flex flex-col items-center gap-[3rem] mobile:gap-[4rem]">
    <Logo />
    <Hero />
    <Button href="https://t.me/fullstacksjs" target="_blank" rel="noopener">
      {t('header.button')}
    </Button>
  </div>
  <Separator />
  <Navs />
</header>
