---
import { t } from 'i18next';

import JoinButton from './JoinButton.astro';
import Logo from './Logo.astro';
---

<header class="hidden items-center justify-between desktop:flex">
  <div class="flex flex-col items-start gap-16">
    <div class="flex flex-col gap-2">
      <h1 class="text-5xl font-bold leading-tight">FullstacksJS</h1>
      <p class="text-md uppercase text-fg-1">
        {t('header.vision')}
      </p>
    </div>

    <JoinButton />
  </div>
  <Logo />
</header>
