---
import { t } from 'i18next';
---

<div class="flex flex-col items-center gap-2">
  <h1 class="text-4xl font-bold leading-tight tablet:text-5xl">FullstacksJS</h1>
  <p class="text-sm uppercase tablet:text-md">{t('header.vision')}</p>
</div>
