---
import { t } from 'i18next';
---

<div>
  <h1 class="hero">FullstacksJS</h1>
  <p class="vision">{t('header.vision')}</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .hero {
    font-size: 4rem;
    line-height: 1.28;
  }

  .vision {
    text-transform: uppercase;
    font-size: 2rem;
  }

  @media screen and (min-width: 560px) {
    .hero {
      font-size: 5rem;
    }

    .vision {
      font-size: 2.4rem;
    }
  }
</style>
