<div>
  <h1 class="hero">FullstacksJS</h1>
  <p class="vision">We grow together</p>
</div>

<style>
  div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
  }

  .hero {
    font-size: 5rem;
    line-height: 6.4rem;
  }

  .vision {
    text-transform: uppercase;
    font-size: 2.4rem;
  }
</style>
