---
import { localizeUrl } from 'astro-i18next';
import i18next from 'i18next';

const currentLanguage = i18next.language;
const currentUrl = Astro.url.href;
---

<div dir="ltr">
  <a
    class={currentLanguage === 'en' ? 'active' : ''}
    href={localizeUrl(currentUrl, 'en')}>EN</a
  >
  <span>/</span>
  <a
    class={currentLanguage === 'fa' ? 'active' : ''}
    href={localizeUrl(currentUrl, 'fa')}>FA</a
  >
</div>

<style>
  div {
    position: absolute;
    display: flex;
    gap: 1rem;
    color: var(--fg-muted);
    left: 3rem;
    top: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
  }

  a.active {
    color: var(--fg-0);
  }
</style>
