---
import { localizeUrl } from 'astro-i18next';
import i18next from 'i18next';

import EN from './Icons/EN.astro';
import IR from './Icons/IR.astro';
import SecondaryButton from './SecondaryButton';

interface Props {
  class: string;
}

const currentLanguage = i18next.language;
const currentUrl = Astro.url.href;
---

<a href={localizeUrl(currentUrl, 'fa')} class={Astro.props.class}>
  <SecondaryButton className="px-8">
    <div class="flex items-center gap-2 font-semibold">
      {currentLanguage === 'fa' ? <EN /> : <IR />}
      {currentLanguage === 'fa' ? 'EN' : 'IR'}
    </div>
  </SecondaryButton>
</a>
