---
import { localizeUrl } from 'astro-i18next';
import i18next from 'i18next';

const currentLanguage = i18next.language;
const currentUrl = Astro.url.href;
---

<div
  dir="ltr"
  class="absolute left-12 top-8 flex gap-4 text-xsm font-semibold text-light-muted"
>
  <a
    class={currentLanguage === 'en' ? 'text-light-0' : ''}
    href={localizeUrl(currentUrl, 'en')}>EN</a
  >
  <span>/</span>
  <a
    class={currentLanguage === 'fa' ? 'text-light-0' : ''}
    href={localizeUrl(currentUrl, 'fa')}>FA</a
  >
</div>
