---
import { removeLeadingSlashes } from '@fullstacksjs/toolbox';
import type { HTMLAttributes } from 'astro/types';

const { pathname } = Astro.url;

interface Props {
  href: string;
}

const { href } = Astro.props;
const isCurrentPath = href === pathname;
const ariaProps: HTMLAttributes<'li'> = isCurrentPath
  ? { 'aria-current': 'page' }
  : {};

const id = `${removeLeadingSlashes(href)}-head`;
---

<li
  id={id}
  {...ariaProps}
  class="scroll-m-9 list-none uppercase text-light-muted transition-colors"
>
  <a
    href={`${href}#${id}`}
    class="rounded-sm focus:outline focus:outline-1 focus:outline-offset-8 focus:outline-accent-0"
  >
    <slot />
  </a>
</li>

<style>
  li[aria-current='page'] {
    color: rgb(var(--fg-0));
  }

  li:hover:not([aria-current='page']) {
    color: rgb(var(--fg-1));
  }
</style>
