---
import {
  removeLeadingSlashes,
  removeTrailingSlashes,
} from '@fullstacksjs/toolbox';
import type { HTMLAttributes } from 'astro/types';
import i18next from 'i18next';

const { pathname } = Astro.url;

interface Props {
  href: string;
}

const { href } = Astro.props;
const isActive =
  removeTrailingSlashes(removeLeadingSlashes(href.trim())) ===
  removeTrailingSlashes(removeLeadingSlashes(pathname.trim()));

const isRtl = i18next.dir() === 'rtl';

const ariaProps: HTMLAttributes<'li'> = isActive
  ? { 'aria-current': 'page' }
  : {};
---

<li
  {...ariaProps}
  class:list={[
    'relative scroll-m-9 list-none uppercase transition-colors after:absolute after:bottom-[-3px] after:h-[3px] after:bg-current after:transition-[width]',
    {
      'after:w-8 text-fg-0': isActive,
      'after:w-0 hover:after:w-8 text-light-muted hover:text-fg-1': !isActive,
      'after:left-0': !isRtl,
      'after:right-0': isRtl,
    },
  ]}
>
  <a
    href={href}
    class="rounded-sm text-base focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-8 focus-visible:outline-accent-0 tablet:text-md"
  >
    <slot />
  </a>
</li>
