---
import { removeLeadingSlashes } from '@fullstacksjs/toolbox';
import type { HTMLAttributes } from 'astro/types';

const { pathname } = Astro.url;

interface Props {
  href: string;
}

const { href } = Astro.props;
const isCurrentPath = href === pathname;
const ariaProps: HTMLAttributes<'li'> = isCurrentPath
  ? { 'aria-current': 'page' }
  : {};

const id = removeLeadingSlashes(href) + '-head';
---

<li id={id} {...ariaProps}>
  <a href={`${href}#${id}`}>
    <slot />
  </a>
</li>

<style>
  li {
    list-style: none;
    text-transform: uppercase;
    color: var(--fg-muted);
    transition: color ease-in-out 170ms;
    scroll-margin: 3rem;
  }

  a {
    color: unset;
    text-decoration: none;
  }

  a:focus {
    outline: 1px solid var(--accent);
    outline-offset: 1rem;
  }

  [aria-current='page'] {
    color: var(--fg-0);
  }

  li:hover:not([aria-current='page']) {
    color: var(--fg-1);
  }
</style>
