---
import { localizePath } from 'astro-i18next';
import i18next, { t } from 'i18next';

import { features } from '../features';
import { LanguageStyle } from '../getLocaleStyle';
import Nav from './Nav.astro';

interface Nav {
  feature: keyof typeof features;
  href: string;
  children: string;
}

const navs: Nav[] = [
  { feature: 'about', href: '/', children: t('navigation.about') },
  { feature: 'rules', href: '/rules', children: t('navigation.rules') },
  { feature: 'events', href: '/events', children: t('navigation.events') },
];

const languageStyle = LanguageStyle(i18next).get({
  en: 'text-md tablet:text-2xl',
  fa: 'text-md tablet:text-xl',
});
---

<ul class={`inline-flex gap-16 font-bold leading-none ${languageStyle}`}>
  {
    navs
      .filter((c) => features[c.feature])
      .map(({ children, href }) => (
        <Nav href={localizePath(href, i18next.language)}>{children}</Nav>
      ))
  }
</ul>
