---
import Nav from './Nav.astro';
import i18next, { t } from 'i18next';
import { localizePath } from 'astro-i18next';

const navs = [
  { href: '/', children: t('navigation.about') },
  { href: '/rules', children: t('navigation.rules') },
];
---

<ul>
  {
    navs.map(({ children, href }) => (
      <Nav href={localizePath(href, i18next.language)}>{children}</Nav>
    ))
  }
</ul>

<style>
  ul {
    display: inline-flex;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.05;
    gap: 4rem;
  }

  @media screen and (min-width: 560px) {
    ul {
      font-size: 3.2rem;
    }
  }
</style>
