---
import i18next from 'i18next';

import { LanguageStyle } from '../getLocaleStyle';

const languageStyle = LanguageStyle(i18next).get({ en: '', fa: 'text-sm' });
---

<p class={`text-light-1 ${languageStyle}`}>
  <slot />
</p>
