---
interface Props {
  target: string;
}

const { target } = Astro.props;
---

<li id={target}>
  <a class="cancel" href="#"></a>
  <a href={`#${target}`}>
    <slot />
  </a>
</li>

<style>
  li {
    margin-inline-start: 1.5rem;
    margin-bottom: 0.5rem;
    list-style: '•  ';
    line-height: 2.4rem;
    transition: opacity 300ms, color 300ms;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.8rem;
  }

  li a {
    color: var(--accent-1);
    display: block;
    width: 100%;
  }

  .cancel {
    display: none;
    position: absolute;
    inset: 0;
  }

  li:target .cancel {
    display: inline;
  }

  li:target a,
  li:target b {
    color: var(--accent-1);
  }

  li:has(~ li:target),
  li:target ~ li {
    opacity: 0.1;
  }

  li:not(:target):hover {
    opacity: 1;
  }

  li:not(:target):hover a {
    color: var(--fg-0);
  }
</style>
