---
interface Props {
  target: string;
}

const { target } = Astro.props;
---

<li
  id={target}
  class="group relative mb-3 ms-6 cursor-pointer scroll-m-10 leading-tight transition-[color,opacity] motion-reduce:transition-none"
>
  <a class="cancel absolute inset-0 group-target:inline" href="#_"></a>
  <a class="block w-full text-accent-1" href={`#${target}`}>
    <slot />
  </a>
</li>

<style>
  li {
    list-style: '•  ';
  }

  .cancel {
    display: none;
  }

  li:target .cancel {
    display: inline;
  }

  li:has(~ li:target),
  li:target ~ li {
    opacity: 0.1;
  }

  li:not(:target):hover {
    opacity: 1;
  }

  li:not(:target):hover a {
    color: var(--fg-0);
  }
</style>
