<div>
  <span></span>
  <span></span>
  <span></span>
</div>

<style>
  div {
    display: flex;
    gap: 1.2rem;
  }

  span {
    width: .8rem;
    height: .8rem;
    background-color: var(--fg-inactive);
    border-radius: 50%;
  }
</style>
