---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a
  class="flex items-center gap-2 transition-colors hover:text-accent-0"
  target="_blank"
  rel="noopener noreferrer"
  href={href}
>
  <slot />
</a>
