---
import Discord from './Icons/Discord.astro';
import Github from './Icons/Github.astro';
import Telegram from './Icons/Telegram.astro';
import Twitch from './Icons/Twitch.astro';
import Twitter from './Icons/Twitter.astro';
import Youtube from './Icons/Youtube.astro';
import SocialItem from './SocialItem.astro';

const items = [
  { icon: Telegram, href: 'https://t.me/fullstacksjs', children: 'Telegram' },
  { icon: Youtube, href: 'https://youtube.com/@fullstacksjs', children: 'Youtube' },
  { icon: Twitter, href: 'https://twitter.com/fullstacksjs', children: 'Twitter' },
  { icon: Github, href: 'https://github.com/fullstacksjs', children: 'Github' },
  { icon: Discord, href: 'https://discord.gg/rRKPzR4SY4', children: 'Discord' },
  { icon: Twitch, href: 'https://twitch.tv/fullstacksjs', children: 'Twitch' },
];
---

<footer class="container">
  <ul>
    {
      items.map(({ children, href, icon: Icon }) => (
        <li>
          <SocialItem href={href}>
            <Icon />
            <span>{children}</span>
          </SocialItem>
        </li>
      ))
    }
  </ul>
</footer>

<style>
  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  span {
    width: 10rem;
    color: var(--fg-1);
    transition: color 300ms;
  }

  span:hover {
    color: var(--accent);
  }

  li {
    list-style: none;
    color: var(--accent);
  }

  @media screen and (min-width: 760px) {
    span {
      width: 16rem;
    }
  }

  @media screen and (min-width: 960px) {
    span {
      width: unset;
    }
  }
</style>
