---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a href={href}>
  <slot />
</a>

<style>
  a {
    color: var(--accent);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 0.6rem;
  }
</style>
