---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<a class="social" target="_blank" href={href}>
  <slot />
</a>

<style>
  .social {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    transition: color 300ms;
  }

  .social:hover {
    color: var(--accent);
  }
</style>
