---
import { t } from 'i18next';

import { Event } from '../pages/events.astro';
import EventCard from './EventCard.astro';
import SectionHeader from './SectionHeader.astro';

interface Props {
  events: Event[];
}

const { events } = Astro.props;
---

<div>
  <SectionHeader>{t('upcomingEvents.title')}</SectionHeader>
  <div class="mt-16 grid gap-16 tablet:grid-cols-2 desktop:grid-cols-3">
    {events.map((event) => <EventCard event={event} eventType="upcoming" />)}
  </div>
</div>
