---
import '../styles/global.css';

import i18next from 'i18next';

import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Social from '../components/Social.astro';

export interface Props {
  title: string;
}
---

<!DOCTYPE html>
<html
  lang={i18next.language}
  dir={i18next.dir()}
  class="bg-dark-0 leading-normal text-light-0"
>
  <Head title={Astro.props.title} />
  <body class="text-base">
    <div class="container flex flex-col gap-24 py-8 mobile:gap-40 mobile:py-40">
      <Header />
      <Hero />
      <slot />
      <Social />
    </div>
  </body>
</html>
